
[Example]
# The example will be a 60% layout
# 60% uses only 14 columns of the 17, so get rid of leftmost and 2 rightmost
MAKE_SPACER(0, 0, 0)
MAKE_SPACER(1, 0, 0)
MAKE_SPACER(2, 0, 0)
MAKE_SPACER(3, 0, 0)
MAKE_SPACER(4, 0, 0)
MAKE_SPACER(5, 0, 0)
MAKE_SPACER(0, 15, 0)
MAKE_SPACER(1, 15, 0)
# make left shift
MAKE_KEY(3, 1, 9, 4)
MAKE_SPACER(3, 2, 0)
MAKE_SPACER(2, 15, 0)
MAKE_SPACER(3, 15, 0)
MAKE_SPACER(4, 15, 0)
MAKE_SPACER(5, 15, 0)
MAKE_SPACER(0, 16, 0)
MAKE_SPACER(1, 16, 0)
MAKE_SPACER(2, 16, 0)
MAKE_SPACER(3, 16, 0)
MAKE_SPACER(4, 16, 0)
MAKE_SPACER(5, 16, 0)
# 60% uses only 5 columns of the 6, so get rid of the last row
MAKE_SPACER(5, 1, 0)
MAKE_SPACER(5, 2, 0)
MAKE_SPACER(5, 3, 0)
MAKE_SPACER(5, 4, 0)
MAKE_SPACER(5, 5, 0)
MAKE_SPACER(5, 6, 0)
MAKE_SPACER(5, 7, 0)
MAKE_SPACER(5, 8, 0)
MAKE_SPACER(5, 9, 0)
MAKE_SPACER(5, 10, 0)
MAKE_SPACER(5, 11, 0)
MAKE_SPACER(5, 12, 0)
MAKE_SPACER(5, 13, 0)
MAKE_SPACER(5, 14, 0)
# make the backspace
MAKE_KEY(0, 14, 8, 4)
# make the tab
MAKE_KEY(1, 1, 6, 4)
# make the backslash
MAKE_KEY(1, 14, 6, 4)
# make the capslock
MAKE_KEY(2, 1, 7, 4)
# make the enter
MAKE_SPACER(2, 13, 0)
MAKE_KEY(2, 14, 9, 4)
# make right shift
MAKE_KEY(3, 13, 11, 4)
MAKE_SPACER(3, 14, 0)
# make bottom row
MAKE_KEY(4, 1, 5, 4)
MAKE_KEY(4, 2, 5, 4)
MAKE_KEY(4, 3, 5, 4)
MAKE_SPACER(4, 4, 0)
MAKE_SPACER(4, 5, 0)
MAKE_SPACER(4, 6, 0)
MAKE_KEY(4, 7, 25, 4)
MAKE_SPACER(4, 8, 0)
MAKE_SPACER(4, 9, 0)
MAKE_SPACER(4, 10, 0)
MAKE_KEY(4, 11, 5, 4)
MAKE_KEY(4, 12, 5, 4)
MAKE_KEY(4, 13, 5, 4)
MAKE_KEY(4, 14, 5, 4)



[dox layout]
# Making keys:
#        Row,Col,length, height
# MAKE_KEY(0, 14, 8, 4)
# Making Spacers (placeholders)
#           Row,Col,length,
# MAKE_SPACER(0, 0, 0)
# 60% uses only 14 columns of the 17, so get rid of leftmost and 2 rightmost
MAKE_SPACER(0, 16, 0)
MAKE_SPACER(1, 16, 0)
MAKE_SPACER(2, 16, 0)
MAKE_SPACER(3, 16, 0)
MAKE_SPACER(4, 16, 0)
MAKE_SPACER(5, 16, 0)

MAKE_SPACER(0, 7, 4, 6)
MAKE_SPACER(0, 8, 4, 6)
MAKE_SPACER(1, 7, 4, 6)
MAKE_SPACER(1, 8, 4, 6)

MAKE_SPACER(5, 0, 0)
MAKE_SPACER(5, 1, 0)
MAKE_SPACER(5, 2, 0)
MAKE_SPACER(5, 3, 0)
MAKE_SPACER(5, 4, 0)
MAKE_SPACER(5, 5, 0)
MAKE_SPACER(5, 6, 0)
MAKE_SPACER(5, 7, 0)
MAKE_SPACER(5, 8, 0)
MAKE_SPACER(5, 9, 0)
MAKE_SPACER(5, 10, 0)
MAKE_SPACER(5, 11, 0)
MAKE_SPACER(5, 12, 0)
MAKE_SPACER(5, 13, 0)
MAKE_SPACER(5, 14, 0)
MAKE_SPACER(5, 15, 0)

# Make tall inner thumb keys
MAKE_KEY(4, 5, 4, 6)
MAKE_KEY(4, 6, 4, 6)
MAKE_KEY(4, 9, 4, 6)
MAKE_KEY(4, 10, 4, 6)
# pushing down to the next visual row?
MAKE_KEY(2, 7, 4, 6)
MAKE_BLANK(2,7,2)
MAKE_KEY(2, 8, 4, 6)
MAKE_BLANK(2,8,2)

# right side longer keys
MAKE_KEY(0, 15, 6, 4)
MAKE_KEY(1, 15, 6, 4)
MAKE_KEY(2, 15, 6, 4)
MAKE_KEY(3, 15, 6, 4)
MAKE_KEY(4, 15, 6, 4)
# left side longer keys
MAKE_KEY(0, 0, 6, 4)
MAKE_KEY(1, 0, 6, 4)
MAKE_KEY(2, 0, 6, 4)
MAKE_KEY(3, 0, 6, 4)
MAKE_KEY(4, 0, 6, 4)


[at101 split 56]
# Making keys:
#        Row,Col,length, height
# MAKE_KEY(0, 14, 8, 4)
# Making Spacers (placeholders)
#           Row,Col,length,
# MAKE_SPACER(0, 0, 0)
# 60% uses only 14 columns of the 17, so get rid of leftmost and 2 rightmost
# Remove right three columns
MAKE_SPACER(0, 14, 0)
MAKE_SPACER(1, 14, 0)
MAKE_SPACER(2, 14, 0)
MAKE_SPACER(3, 14, 0)
MAKE_SPACER(0, 15, 0)
MAKE_SPACER(1, 15, 0)
MAKE_SPACER(2, 15, 0)
MAKE_SPACER(3, 15, 0)
MAKE_SPACER(0, 16, 0)
MAKE_SPACER(1, 16, 0)
MAKE_SPACER(2, 16, 0)
MAKE_SPACER(3, 16, 0)

MAKE_SPACER(4, 0, 0)
MAKE_SPACER(4, 1, 0)
MAKE_SPACER(4, 2, 0)
MAKE_SPACER(4, 3, 0)
MAKE_SPACER(4, 4, 0)
MAKE_SPACER(4, 5, 0)
MAKE_SPACER(4, 6, 0)
MAKE_SPACER(4, 7, 0)
MAKE_SPACER(4, 8, 0)
MAKE_SPACER(4, 9, 0)
MAKE_SPACER(4, 10, 0)
MAKE_SPACER(4, 11, 0)
MAKE_SPACER(4, 12, 0)
MAKE_SPACER(4, 13, 0)
MAKE_SPACER(4, 14, 0)
MAKE_SPACER(4, 15, 0)
MAKE_SPACER(4, 16, 0)
MAKE_SPACER(5, 0, 0)
MAKE_SPACER(5, 1, 0)
MAKE_SPACER(5, 2, 0)
MAKE_SPACER(5, 3, 0)
MAKE_SPACER(5, 4, 0)
MAKE_SPACER(5, 5, 0)
MAKE_SPACER(5, 6, 0)
MAKE_SPACER(5, 7, 0)
MAKE_SPACER(5, 8, 0)
MAKE_SPACER(5, 9, 0)
MAKE_SPACER(5, 10, 0)
MAKE_SPACER(5, 11, 0)
MAKE_SPACER(5, 12, 0)
MAKE_SPACER(5, 13, 0)
MAKE_SPACER(5, 14, 0)
MAKE_SPACER(5, 15, 0)
MAKE_SPACER(5, 16, 0)
